In [1]:
# Libraries
import pandas as pd
import numpy as np
from datetime import date
# import geopandas as gpd
# import matplotlib as mpl
# import matplotlib.pyplot as plt
# import plotly.express as px
# from shapely.geometry import Point
# from shapely.geometry.polygon import Polygon
from warnings import filterwarnings
import csv
# import seaborn as sns
# from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
filterwarnings("ignore")

# **Exploratory Data Analysis of Airbnb Data**

# **Fix tags: styling, reference, github, airbnb**

### Imad Ahmad, Ibtassam Racheed, Yip Chi Man

# Introduction

# Guiding Questions

### 1) What combination of metrics (ex. Price, location, name, etc.) is the best predictor of an Airbnb® listing being booked?

With this guiding question, we will be exploring the relationship between chosen metrics and airbnb listing success. The specific metrics we will look at will be location, price, review score, and the hosts superhost status. This is a very important question to ask, as high listing success is valuable to both hosts and airbnb. We will gain powerful insights into what people value when choosing an airbnb.

### 2) What affect has COVID-19 had on Airbnb® bookind trends?

This question has evolved a little since our proposal. Initially, we were also looking into seasonal booking trends relative to COVID-19. However, we removed this from our analysis as we did not have enough COVID-19 data to study seasonal trends.

With this guiding question, we are going to explore how certain Airbnb® metrics have changed since COVID-19. This is a valuable insight as it shows exactly what areas of Airbnb® were impacted by COVID-19, so they can be targeted in attempting to return to normal levels.

### 3) Do Airbnb® listing and booking trends vary geographically?

With this guiding question, we will explore how Airbnb® trends vary by city. We are also including the average temperatures for each of the cities in our analysis, as we suspect this plays the largest role in booking trends.

### 4) What metrics are truly different between a regular host and a Superhost?

This guiding question as also evolved since our proposal. Rather than studying what makes a host a "good host", we will look into what metrics vary between regular hosts and Airbnb® defined *Superhosts*. Specifically, compared average review score, amenities, and response rates for hosts and superhosts. This will provide powerful insight to hosts on what they should be focusing on, as well as to Airbnb® on what they are focusing most on.

# Dataset

In [14]:
airbnb_raw = pd.read_csv('DataSet/Listings.csv', encoding='iso-8859-1')
airbnb_review_raw = pd.read_csv('DataSet/Reviews.csv')
display(airbnb_raw.head())
display(airbnb_review_raw.head())

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,district,city,latitude,longitude,property_type,room_type,accommodates,bedrooms,amenities,price,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Buttes-Montmartre,NaN,Paris,48.88668,2.33343,Entire apartment,Entire place,2,1.0,"[""Heating"", ""Kitchen"", ""Washer"", ""Wifi"", ""Long...",53,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Buttes-Montmartre,NaN,Paris,48.88617,2.34515,Entire apartment,Entire place,2,1.0,"[""Shampoo"", ""Heating"", ""Kitchen"", ""Essentials""...",120,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Elysee,NaN,Paris,48.88112,2.31712,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Washer"", ""Wifi"",...",89,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Vaugirard,NaN,Paris,48.84571,2.30584,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Wifi"", ""Long ter...",58,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Passy,NaN,Paris,48.85500,2.26979,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Essentials"", ""Ha...",60,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

## Datasets

We are working with two datasets containing data sourced from Kaggle (Bhat, 2021), and was originally pulled from Airbnb's API (Airbnb, 2022). The data is available with [CCO:Public Domain Licence](https://creativecommons.org/publicdomain/zero/1.0/)

The first dataset containts information on over 250,000 listings in 10 major cities. It containts specific information on both the host and listing, as well as review scores. The full unabbreviated set of columns can be seen in the head of table 1 above.

Our second dataset contained information on the dates of when reviews came in for listings. This proved to be a useful dataset for us, as we realized we could quantify the number of reviews a listing recieved. This was critical in our analyses.

## Data Cleaning

We first assigned proper data to our columns. Many of the columns containing strings were listed as objects. Although strings are objects, for good measure we just converted them to strings. All the columns containing boolean values had the values listed as 't' or 'f'. In addition to converting these columns from objects to booleans, we mapped the python boolean terms 'TRUE' and 'FALSE' to these columns. 

We also had to deal with the date values in the host_since column. We created a new column that contained the host_since values in DateTime format, as well as a column that only contained the host_since years in DateTime format. This was a preliminary wrangling step that proved to be useful in many parts of our analysis, as you will soon see.

In [3]:
# Correcting datatype for string columns (note: Pandas stores strings as objects)
airbnb_raw[['name', 'host_location', 'host_response_time', 
            'neighbourhood', 'district', 'city', 
            'property_type', 'room_type']] = airbnb_raw[['name','host_location', 
            'host_response_time','neighbourhood','district',
            'city','property_type','room_type']].astype('str')

# Correcting labelling and datatype for boolean columns
airbnb_raw['host_is_superhost'] = airbnb_raw['host_is_superhost'].map({'t':True,'f':False}).astype(bool)
airbnb_raw['host_has_profile_pic'] = airbnb_raw['host_has_profile_pic'].map({'t':True,'f':False}).astype(bool)
airbnb_raw['host_identity_verified'] = airbnb_raw['host_identity_verified'].map({'t':True,'f':False}).astype(bool)
airbnb_raw['instant_bookable'] = airbnb_raw['instant_bookable'].map({'t':True,'f':False}).astype(bool)

# Creating 2 columns, one with host_since in DateTime format, and one with the year values of host_since in DateTime format
airbnb_raw['host_since_dt'] = pd.to_datetime(airbnb_raw['host_since'])
airbnb_raw['host_since_dt_year'] = airbnb_raw['host_since_dt'].apply(lambda x: str(x.year))

We then read in our second reviews dataset, the head of which can be seen below:

In [4]:
airbnb_review_raw.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

styling: Add styling (title, etc) to dataframes

With only four columns, we made the assumption that there would not be a lot of cleaning and wrangling to be done with this dataset. However, we underestimated how important it would be to our analysis, and the different ways in which we would have to wrangle the data to merge the datasets proved to be a welcome challenge. 

We created a new column containing the dates in DateTime, as well as a column containing the days since the last review. Creating this second column was an interesting puzzle. First, we took our newly created review_date_dt column, sorted it, and grouped the table by listing IDs. We then used the pandas function "shift" to create a new column, which contains these sorted DateTime values shifted one index down (meaning the top row in this new column contains a null value).

Now, we have a column containing the sorted review dates, as well as a column containing the sorted review dates shifted by one index, and our table is grouped by listing. To get the days since last review, all that we need to go is subtract the columns from eachother, and store the result as a number of days in a new column.

In [5]:
airbnb_review_raw['review_date_dt'] = pd.to_datetime(airbnb_review_raw['date'])
airbnb_review_raw['days_since_last_review'] = (airbnb_review_raw.sort_values('review_date_dt').
                                             groupby('listing_id').review_date_dt.shift() - airbnb_review_raw.
                                             review_date_dt).dt.days.abs()

Our next step was binning the number of reviews for each listing into months. We did this by first creating a year_month column that contained each month in our dataset. This column contained months in the format YYYY_MM. We then created a separate dataframe that was grouped by listings and year_month bins. This new dataset contained counts of how many reviews took place in each year_month bin. We unstacked it to allow the data to display each month as a column. We now have a dataset that has listings with YEAR-MONTH bins, with each bin containing the number of reviews for that listing in that month.

At this stage we also filled our NA values with 0. This was important *specifically* for our reviews dataset, as our analysis depended on knowing the number of reviews a listing recieved in a given month, even if that number was zero.

The reason we are wrangling the data in this was will become clear in our analysis, as these monthly bins provide a very important metric in many of our visualizations (add reference to part where you explain the relationship between review counts and number of bookings).

*Note: The columns are abbreviated by ellipses as we are analyzing over 147 separate months, each with it's own column!*

*Note 2: Our reason for wrangling that data this way will become more clear in our analyses, as many of them required our data in this format.*

In [6]:
airbnb_review_raw['year_month'] = airbnb_review_raw['review_date_dt'].dt.strftime('%Y_%m')
airbnb_year_month = airbnb_review_raw.groupby(['listing_id','year_month'])['review_id'].count()
airbnb_year_month = airbnb_year_month.unstack(level=-1).fillna(0)
airbnb_year_month.head()

year_month,2008_11,2009_01,2009_02,2009_04,2009_05,2009_06,2009_07,2009_08,2009_09,2009_10,...,2020_06,2020_07,2020_08,2020_09,2020_10,2020_11,2020_12,2021_01,2021_02,2021_03
listing_id,,,,,,,,,,,,,,,,,,,,,
2577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2595,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2903,2.0,1.0,1.0,1.0,0.0,1.0,4.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Since in our original reviews dataset, we had dates for each review, any months that had no reviews were not made into columns in our airbnb_year_month dataset (add proper reference to figure). Our data still needed to reflect that there were no reviews these months, so we inserted columns with 0s into the dataframe for each month with no data.

In [7]:
# These columns needed to be inserted at a specific location or at the front
airbnb_year_month.insert(3,'2009_03',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(1,'2008_12',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_10',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_09',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_08',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_07',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_06',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_05',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_04',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_03',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_02',[*[0] * len(airbnb_year_month)])
airbnb_year_month.insert(0,'2008_01',[*[0] * len(airbnb_year_month)])

# These columns could be named without using .insert, as we are adding them to the right side
airbnb_year_month['2021_04'] = 0
airbnb_year_month['2021_05'] = 0
airbnb_year_month['2021_06'] = 0
airbnb_year_month['2021_07'] = 0
airbnb_year_month['2021_08'] = 0
airbnb_year_month['2021_09'] = 0
airbnb_year_month['2021_10'] = 0
airbnb_year_month['2021_11'] = 0
airbnb_year_month['2021_12'] = 0

Next, we created a separate data frame, containing the minimum/maximum review date, total counts of distinct review IDs and distinct *reviewer IDs*. We also added a column for the average days between reviews, thinking preliminarily about the analyses we would perform. We called this dataframe airbnb_review_info.

In [8]:
# Using the .agg function, we were able to add all the columns in one block of code
airbnb_review_info = airbnb_review_raw.groupby(['listing_id']).agg(
    review_date_min=('review_date_dt', np.min),
    review_date_max=('review_date_dt', np.max),
    review_id_distinct_count=('review_id',lambda x: x.nunique()),
    reviewer_id_distinct_count=('reviewer_id',lambda x: x.nunique()),
    avg_no_of_day_btw_review=('days_since_last_review', np.nanmean), #ignore nan in calculating avg
).reset_index()

The last step was merging the three data frames:
* listings.csv containing information on the listings
* airbnb_year_month containing review counts binned into the appropriate years and months
* airbnb_review_info containing some important review information 

We merged them one at a time into a dataframe called airbnb_raw_plus_review. We added them to the left one at a time, merging on listing ID. 

We performed some final cleanup and we had our clean dataset for analysis of our guiding questions. The head of the resulting data frame is displayed below (columns abbreviated). The clean dataset is available in the DataSet folder as 'airbnb_raw_plus_review' (github)

In [9]:
airbnb_raw_plus_review = airbnb_raw.merge(airbnb_review_info, on='listing_id', how='left')
airbnb_raw_plus_review = airbnb_raw_plus_review.merge(airbnb_year_month, on='listing_id', how='left')
airbnb_raw_plus_review = airbnb_raw_plus_review.replace('nan', 'No Data') # Some columns had nan as a string
airbnb_raw_plus_review.head()

# Analysis

A note about the data:

Our data did not contain information on how many bookings a listing has received. Many of our analyses look into listing success, so we have decided to quantify listing success as the number of reviews a listing has received. This is something we discussed and thought a lot about and decided it was okay for the following reasons:

* There is never an analysis where we are looking at the absolute value of bookings a listing received, we are only *comparing* listing success.

* The average number of bookings per review is most likely the same across Airbnb® with some variation, and so they should correlate well for comparisons.

## Analysis of Guiding Question 1

In looking at what metrics play a role in Airbnb® listing success, the first one that jumped out at us was location. It makes sense that certain vacation hubs would have more bookings than other places. Previous studies have found a strong correlation between listing revenue and location (Deboosere, Kerrigan, Wachsmuth and El-Geneidy, 2019). We are going to be comparing districts in each city utilizing the GeoJson library.

## Analysis of Guiding Question 2

## Analysis of Guiding Question 3

## Analysis of Guiding Question 4

# Conclusion

## References

Airbnb, 2022, Airbnb API

Bhat, M. 2021, Airbnb Listings & Reviews, electronic dataset, Kaggle, viewed 13Sept. 2022, [Dataset-link](https://www.kaggle.com/datasets/mysarahmadbhat/airbnb-listings-reviews)

Deboosere, R., Kerrigan, D., Wachsmuth, D. and El-Geneidy, A., 2019. Location, location and professionalization: a multilevel hedonic analysis of Airbnb listing prices and revenue. Regional Studies, Regional Science, 6(1), pp.143-156.